.homestayList {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.listResultTitle {
    width:95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.homestayDisplay {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.homestayCard{
    border:1px solid lightgray;
    padding:10px;
    border-radius:5px;
    display:flex;
    justify-content: space-between;
    gap:20px;
    margin-bottom: 20px;
    position:relative;
}

.siImg {
    width:285px;
    height:200px;
    object-fit:cover;
}

.homestayInfo-wrapper{
    width:562px;
    height:192px;
   
    display: flex;
    justify-content: space-between;
}



.homestayDescription{
    width:380px;
}

.homestayIncludeMsg{
    width:140px;
    height:17px;
    display:flex;
    justify-content: flex-end;
}

.homestayDetails{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.homestayPrice{
    display:flex;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: 600;
}

/* like icon */
.likeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.3rem;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
    transition: transform 0.2s ease, color 0.2s ease;
}

.likeIcon:hover, .likeIcon:focus {
    transform: scale(1.2);
    color: #E91E63; /* Adjust the color based on your preference */
}

.likeIcon:active {
    transform: scale(0.9);
}

.likeIcon i {
    transition: color 0.2s;
}


.likeIcon.liked i {
    color: #E91E63; 
    animation: pulse 1s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* See availability button  */
.seeAvailability {
    background-image: linear-gradient(to right, #2F80ED 0%, #2F80ED 100%);
    border: none;
    color: white;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .seeAvailability:hover, .seeAvailability:focus {
    transform: translateY(-3px);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.15);
  }
  
  .seeAvailability:active {
    transform: translateY(1px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12);
  }
  