.homestayList {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.listResultTitle {
    width:95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.homestayDisplay {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.homestayCard{
    border:1px solid lightgray;
    padding:10px;
    border-radius:5px;
    display:flex;
    justify-content: space-between;
    gap:20px;
    margin-bottom: 20px;
    position:relative;
}

.siImg {
    width:275px;
    height:240px;
    object-fit:cover;
}

.homestayInfo-wrapper{
    width:562px;
    height:240px;
   
    display: flex;
    justify-content: space-between;
}

.homestayRate{
    color:#ffb700;
    align-items: center;
}
.homestayRatetext{
    color:black;
    font-size: 14px;
    align-items: center;
}
.homestayDescription{
    width:380px;
    height:72px;
}

.amenities{
    margin-left:2px;
}

.homestayIncludeMsg{
    width:140px;
    height:17px;
    display:flex;
    justify-content: flex-end;
}

.homestayDetails{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
   
}

.homestayPrice{
    display:flex;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: 600;
   
}




/* like icon */
.likeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.3rem;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
    transition: transform 0.2s ease, color 0.2s ease;
    
}

.likeIcon:hover, .likeIcon:focus {
    transform: scale(1.2);
    color: #E91E63; 
}

.likeIcon:active {
    transform: scale(0.9);
}

.likeIcon.favorited {
    color: #E91E63; 
    animation: pulse 1s;
}

.likeIcon.notFavorited {
    color: gray; 
    animation: pulse 1s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* See availability button  */
.seeAvailability {
    background-image: linear-gradient(to right, #2F80ED 0%, #2F80ED 100%);
    border: none;
    color: white;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .seeAvailability:hover, .seeAvailability:focus {
    transform: translateY(-3px);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.15);
  }
  
  .seeAvailability:active {
    transform: translateY(1px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12);
  }
  

/* search result display */

.searchResult h3 {
    margin-bottom: 0.5rem; 
    font-size: 1.6rem; 
    font-weight:700;
}

.searchResult h4 {
    margin-bottom: 0.5rem; 
    font-size: 1.2rem; 
    font-weight:700;
}


/* Styling specifically for the most valuable homestay message */
.mostValuableHomestay {
    color: #2F80ED; 
    font-weight: bold;
    background-color: rgba(0, 123, 255, 0.1); 
    padding: 10px 15px; 
    border-radius: 5px; 
    display: inline-block; /* Only take up as much space as necessary */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* A subtle shadow for depth */
    margin-top: 10px; 
    transition: transform 0.2s; 
}

.mostValuableHomestay:hover {
    transform: translateY(-2px); /* Slight lift effect on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); 
}

.mostValuableHomestayTitle{
    color: #00695c; 
    font-weight: 600; 
}